In [28]:
import pandas as pd

In [29]:
sal = pd.read_csv("salaries_by_college_major.csv")
sal.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [30]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

In [31]:
sal.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [32]:
#drop missing values
sal.dropna(inplace=True)

In [33]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                50 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.7+ KB

In [34]:
#check the columns
sal.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [35]:
#dimension of the dataframe
sal.shape

(50, 6)

In [36]:
#summary statistics

sal.describe().T

,count,mean,std,min,25%,50%,75%,max
Starting Median Salary,50.0,44310.0,9360.866217,34000.0,37050.0,40850.0,49875.0,74300.0
Mid-Career Median Salary,50.0,74786.0,16088.403860,52000.0,60825.0,72000.0,88750.0,107000.0
Mid-Career 10th Percentile Salary,50.0,43408.0,12000.779567,26700.0,34825.0,39400.0,49850.0,71900.0
Mid-Career 90th Percentile Salary,50.0,142766.0,27851.249267,96400.0,124250.0,145500.0,161750.0,210000.0

### What college major has the highest starting median salary and how much do graduates with this major earn?

In [42]:
#check the max row

sal['Starting Median Salary'].idxmax()

43

In [54]:
sal.iat[43,0]

'Physician Assistant'

In [38]:
#showing that row
sal.iloc[lambda x: x.index == 43]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM

### What college major has the highest starting mid-career salary and how much do graduates with this major earn? (10+ years of experience)

In [44]:
sal['Mid-Career Median Salary'].idxmax()

8

In [53]:
sal.iat[8,0]

'Chemical Engineering'

In [45]:
#showing that row
sal.iloc[lambda x: x.index == 8]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM

### Which college major has the lowest starting salary and how much do graduates earn after university?

In [46]:
#check the max row

sal['Starting Median Salary'].idxmin()

49

In [52]:
sal.iat[49,0]

'Spanish'

In [47]:
#showing that row
sal.iloc[lambda x: x.index == 49]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

### Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [48]:
#check the max row

sal['Mid-Career Median Salary'].idxmin()

18

In [51]:
sal.iat[18,0]

'Education'

In [49]:
#showing that row
sal.iloc[lambda x: x.index == 18]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
18,Education,34900.0,52000.0,29300.0,102000.0,HASS

### Top 5 Majors with the highest spread from starting to mid-career

In [69]:
sal["spread_col"] = sal['Mid-Career 90th Percentile Salary'].subtract(sal['Mid-Career 10th Percentile Salary'])
sal.head(2)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread_col
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business,109800.0
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM,96700.0

In [72]:
sal.sort_values(by="spread_col", ascending=False).head(6)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread_col
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS,132500.0
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS,126800.0

In [76]:
### Top 10 Major with the highest salaries in the 90th Percentile
sal.sort_values(by="Mid-Career 90th Percentile Salary", ascending=False).head(10)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread_col
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM,115900.0
14,Construction,53700.0,88900.0,56300.0,171000.0,Business,114700.0
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS,126800.0
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS,132500.0

In [78]:
pd.options.display.float_format = '{:,.2f}'.format

sal.groupby('Group').count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,spread_col
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [79]:
sal.groupby('Group').mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,spread_col
Group,,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00","103,958.33"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64","95,218.18"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00","101,600.00"